[Unit]
Description=SPIFFE socat unix %i
PartOf=spire-agent.target
After=network-online.target local-fs.target time-sync.target
Wants=network-online.target local-fs.target time-sync.target remote-fs-pre.target spire-agent.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/tmp
StateDirectory=spire/agent/%i
RuntimeDirectory=spiffe/socat/unix/%i
RuntimeDirectoryPreserve=true
ConfigurationDirectory=spiffe/socat
EnvironmentFile=-/etc/spiffe/socat/unix/%i.conf
ExecStart=/bin/sh -c ' \
  SOCKET=${SPIFFE_SOCKET_FILENAME:-api.sock}; \
  TARGET=${SPIFFE_INSTANCE:-main}; \
  DIR="/var/run/spiffe/socat/unix/$1"; \
  OWNER="${SPIFFE_USER:-${SPIFFE_UID}}"; \
  GROUP="${SPIFFE_GROUP:-${SPIFFE_GID}}"; \
  MODE="${SPIFFE_MODE:-700}"; \
  mkdir -p "$DIR/public"; \
  [ -n "$OWNER" ] && chown "$OWNER" "$DIR"; \
  [ -n "$GROUP" ] && chgrp "$GROUP" "$DIR"; \
  chmod "$MODE" "$DIR"; \
  chmod 0755 "$DIR/public"; \
  exec socat \
    UNIX-LISTEN:"$DIR/public/$SOCKET",fork,unlink-early,mode=777 \
    UNIX-CONNECT:/var/run/spire/agent/sockets/"$TARGET"/public/api.sock \
' -- %i
ExecStartPre=mkdir -p /var/run/spiffe/socat/unix/%i/public
# https://gist.github.com/ageis/f5595e59b1cddb1513d1b425a323db04
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=false
# Needed by plugins
PrivateTmp=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
ReadOnlyPaths=/
ReadWritePaths=/var/lib/spire/agent /var/run/spire/agent /var/run/spiffe/socat/unix
Restart=always
RestartSec=5s
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK AF_VSOCK
RestrictNamespaces=true
RestrictRealtime=yes
RestrictSUIDSGID=yes
TasksMax=infinity

[Install]
WantedBy=spire-agent.target
